{% extends "layout.html" %}
{% block content%}


<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15"
	style="background-image: url({{ url_for('static', filename='images/bg-event-04.jpg') }});">
	<h2 class="tit6 t-center">
		Undrestand more your data
	</h2>
</section>

<div class="container" style="margin: auto;">
<iframe width="1200" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiM2YzNWFjOWItNzAwMS00NThkLWI4OWItNDlmYTAzZDJhODg5IiwidCI6ImYwNjA4MDQxLTU1ZGMtNDJjNS1iY2FkLTUzNjIzZTFhY2FlNCIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>

</div>

{% endblock %}